<app-card title="EVENTS" subtitle="LIST OF EVENTS">
  <button mat-raised-button class="btn btn-primary" color="accent" (click)="onAddEvent()" style="margin-top: 10px;" >ADD NEW EVENT</button>

<mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>


<div class="mat-elevation-z8" style="margin-top: 10px;">
  <table mat-table class="full-width-table w-100" matSort aria-label="Elements">
    Id Column
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- FEST_TITLE Column -->
    <ng-container matColumnDef="festTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENT TITLE</th>
      <td mat-cell *matCellDef="let row">{{row.festTitle}}</td>
    </ng-container>

    <!-- DESCRIPTION Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <!-- DATE Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- ATTACHMENT Column -->
    <ng-container matColumnDef="attachment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ATTACHMENTS</th>
      <td mat-cell *matCellDef="let row">{{row.attachment}}
        <button mat-raised-button class="btn btn-primary" color="primary" (click)="view_fests(row)">VIEW ATTACHMENT</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>


</app-card>
