<app-card title={{title}} subtitle={{subtitle}}>

  <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>


  <div class="mat-elevation-z8" style="margin-top: 10px;">
    <table mat-table class="full-width-table w-100" matSort aria-label="Elements">
      Id Column
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- FIRST NAME Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FIRST NAME</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
      </ng-container>

      <!-- LAST NAME Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LAST NAME</th>
        <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
      </ng-container>

       <!-- GENDER Column
       <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GENDER</th>
        <td mat-cell *matCellDef="let row">{{row.gender}} </td>
      </ng-container> -->

       <!-- CURRENT POSITION Column -->
       <ng-container matColumnDef="currentposition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT POSITION</th>
        <td mat-cell *matCellDef="let row">{{row.currentposition}} </td>
      </ng-container>

      <!-- CURRENT INSTITUTION Column -->
      <ng-container matColumnDef="currentinstitution">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT INSTITUTION</th>
        <td mat-cell *matCellDef="let row">{{row.currentinstitution}} </td>
      </ng-container>

       <!-- COURSE Column
       <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>COURSE</th>
        <td mat-cell *matCellDef="let row">{{row.course}} </td>
      </ng-container> -->

       <!-- REGISTRATION NO Column -->
       <ng-container matColumnDef="regno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>REGISTRATION NO</th>
        <td mat-cell *matCellDef="let row">{{row.regno}} </td>
      </ng-container>

       <!-- EMAIL Column -->
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
        <td mat-cell *matCellDef="let row">{{row.email}} </td>
      </ng-container>

       <!-- PHONE NO Column -->
       <ng-container matColumnDef="phoneno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PHONE NO</th>
        <td mat-cell *matCellDef="let row">{{row.phoneno}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>


  </app-card>
